{% extends 'base.html' %}
{% load pipeline %}

{% block extra_js %}
    {% javascript "meme" %}
{% endblock extra_js %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <img id="meme-image" src="{{ image.thumb_large.url }}" style="display: none">
        <canvas id="meme-canvas"></canvas>
    </div>
    <div class="col-md-5">

        <form id="meme-form" class="form" method="POST" action="{% url 'create_meme' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="top-tex">Top text</label>
                <input class="form-control" type="text" name="top_text" id="top-text" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="bottom-tex">Bottom text</label>
                <input class="form-control" type="text" name="bottom_text" id="bottom-text" autocomplete="off">
            </div>

            {% if perms.images.add_image %}
              <input type="hidden" name="source_image" value="{{ image.id }}">
              <input type="hidden" name="file" value="">
              <input type="hidden" name="mime" value="{{ mime }}">
              <button type="submit" class="btn btn-block btn-danger">{{ _("Upload meme") }}</button>
              <div id="meme-form-errors" class="form-group has-error"></div>
            {% endif %}
        </form>
    </div>
</div>

<div id="templates" style="display: none">
  <div class="alert alert-danger non-field-error"></div>'
</div>

{% endblock %}
