{% extends 'base.html' %}
{% load staticfiles tags %}

{% block content %}
  <div class="row">

    <div class="col-md-8">
      <div class="row">
        {% for image in images %}
          {% if image.thumb_small %}
            <div class="col-xs-6 col-md-3 img">
              <a href="{% url 'detail' image.unique_key %}">
                <img src="{% static "travaux150.gif" %}" data-src="{{ image.thumb_small.url }}" class="lazy img-thumbnail" width="150" height="150">
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="col-md-4">
      {% if perms.images.add_image %}
        <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data" class="form" role="form">
          {% csrf_token %}

          {% include 'snippets/form.html' %}

          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block">{{ _("Send") }}</button>
          </div>
        </form>
      {% endif %}

      {% show_tags %}

    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    jQuery(document).ready(function () {
      jQuery("img.lazy").lazy();
    });
  </script>
{% endblock %}
