{% extends 'base.html' %}

{% block content %}
<div class="row">

    <div class="col-md-8">
    <div class="row">
    {% for image in images %}
        {% if image.thumb_small %}
        <div class="col-xs-6 col-md-3 img">
            <a href="{% url 'detail' image.unique_key %}">
                <img src="{{ image.thumb_small.url }}" class="img-thumbnail">
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>

    <div class="col-md-4">
      {% if perms.images.add_image %}
        <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data" class="form" role="form">
            {% csrf_token %}

            {% include 'snippets/form.html' with form=form %}

            <div class="form-group">
              <button type="submit" class="btn btn-danger btn-block">{{ _("Send") }}</button>
            </div>
        </form>
      {% endif %}

      {% include "tags_snippet.html" %}

    </div>
</div>
{% endblock %}
